# --- Project Specific Outputs ---
# These are your heavy media and temporary processing folders
mp3/
output/
out/

# --- Virtual Environments ---
.venv/
venv-aeneas/
env/
venv/
ENV/

# --- Python Clutter ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environment Secrets ---
.env
.flaskenv

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Log files ---
*.log